@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

@mixin flex($direction, $justify, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

%button {
    color: #000;
    background-color: #fff;
    padding: 1em 1.5em;
    border-radius: 50px;
    font-family: 'Roboto';
    text-decoration: none;
    transition: 300ms ease-in-out;
    &:hover {
        background-color: $yellow;
        // color: #fff;
    }
}