@import '../../../Styles/utils';

.LastProject {
    margin: 6em;
    h2 {
        color: #fff;
        font-family: 'bold';
        font-weight: 100;
        font-size: 2em;
    }
    hr {
        margin: 0 0 2em;
    }
    .cards {
       display: flex;
       flex-direction: column;
       gap: 1em;
       div:nth-child(even) {
        align-self: flex-end;
       }
    }

    @media screen and (max-width: 886px) {
        margin: 6em 2em;
        h2 {
            font-size: 5px;
        }
    }
}